.mainContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mainContainer__mainBody {
    display: flex;
    width: 100%;
    height: calc(100% - 100px);
    /* flex: 1; */
    /* flex: 1 1 auto; */
}