.mainHeader {
    position: relative;
    background-color: #48D1CC;
    color: white;
    display: flex;
    height: 100px;
}

.mainHeader__title{
    margin-left: 24px;
    font-size: 48px;
    line-height: 100px;
}

.mainHeader__right{
    /* float: right; */
    position: absolute;
    top: 22px;
    right: 18px;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 2px;
}

.mainHeader__username {
    text-decoration: underline;
}

.mainHeader__logIn {
    margin-right: 8px !important;
}