.roomsList {
}

.roomsList__top {
    border-bottom: 2px solid #e8e8e8;
    padding-left: 24px;
    padding-right: 18px;
    height: 56px;
    display: flex;
    align-items: center;
}

.roomsList__header {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 500;
    opacity: .4;
    width: 30%;
}