.checkoutContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkoutContainer__header {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    opacity: 0.4;
    letter-spacing: 4px;
    margin-bottom: 48px;
}

.checkoutContainer__user {
    display: flex;
    align-items: center;
}

.checkoutContainer__chips {
    letter-spacing: 6px;
    font-size: 24px;
}