.optionSelect {
    display: flex;
    height: 45px;
    margin-bottom: 20px;
    border-bottom: 2px solid #e8e8e8;
    width: 100%;
    justify-content: space-evenly;
}

.optionSelect__option {
    height: 45px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 14px;
    color: rgba(0, 0, 0, 0.4);
}

.optionSelect__option--active {
    border-bottom: 2px solid black;
    color: black;
    font-size: 16.5px;
    font-weight: 800;
}