.stripeForm__cardElement {
    width: 98% !important;
}

.stripeForm__button {
    /* margin-top: 36px !important; */
    /* margin-top: 0.5rem !important; */
    width: 98% !important;
}

.stripeForm__dummyData {
    opacity: .6;
    font-size: 12px;
}