.withdrawContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.withdrawContainer__connected {
    text-transform: uppercase;
    margin-bottom: 48px;
    text-align: center;
    opacity: .2;
}

.withdrawContainer__header {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 4px;
    font-size: 22px;
    opacity: 0.4;
}

.withdrawContainer__user {
    display: flex;
    align-items: center;
}

.withdrawContainer__chips {
    font-size: 24px;
    letter-spacing: 6px;
}