.register {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 110;
}

.register__window {
    position: relative;
    width: 850px;
    background: #fff;
    height: 700px;
    border-radius: 4px;
    box-shadow: 1px 7px 20px 2px rgba(0,0,0,.4);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* overflow: hidden; */
    z-index: 111;
    /* padding: 24px 200px; */
    border-right: 200px dotted LightGreen;
}

.register__container {
    width: 400px;
    font-size: 12px;
    /* margin-top: 80px; */
    padding-top: 48px;
    margin-left: 120px;
}

.register__header {
    /* margin-top: 80px; */
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}

.register__test {
    margin-bottom: 10px;
    color: rgba(0,0,0,0.6);
}

.register__description {
    font-size: 12px;
    color: rgba(0,0,0,.5);
}

.register form {
    /* margin-top: 24px; */
    border-top: 1px solid #d8d8d8;
    padding-top: 36px;
}

.register label {
    width: 100%;
}

.register__button {
    width: 98%;
}

.register__agreement {
    font-size: 12px;
    margin-top: 20px;
    color: rgba(0,0,0,0.2) !important;
}

.register__exitButton {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.register__login {
    color: rgba(0,0,0,0.6);
    margin-top: 20px;
}

/* .register__google:hover {
    background-color: #209cee;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
    color: white;
}

.register__google:active {
    background-color: #1d8eda;
} */

.register__octocat {
    position: absolute;
    left: -120px;
}