.gameBoard {
    position: relative;
    /* top: 180px; */
}

.gameBoard__communityCards {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translate(-50%);
    height: 55.7px;
}

.gameBoard__card {
    /* height: 100px; */
    width: 92px;
    margin: 0 -4px;
}

.gameBoard__pot {
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translate(-50%);
    color: white;
    background: rgba(0,0,0, .4);
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 12px;
    display: inline-block;
    /* margin: auto; */
}

.gameBoard__pot > img {
    position: absolute;
    bottom: 5px;
    left: -30px;
}