.menu {
    position: absolute;
    padding: 2px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 18px;
    border: .05rem solid #696969;
    border-radius: 5px;
}

.menu div {
    display: flex;
    flex-direction: column;
    font-size: 8px;
    /* justify-content: end !important; */
    align-items: center;
    color: #696969;
    margin-bottom: 6px;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}