.player {
    display: flex;
    align-items: center;
    background: rgba(0,0,0, .6);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    height: 80px;
    width: 268px;
    border-radius: 10px;
}

.player__cards {
    position: relative;
    left: -16px;
}

.player--empty {
    color: #555;
    background: rgba(255, 255, 255, .05);
    box-shadow: none;
}

.player--empty:hover {
    background: rgba(255, 255, 255, .03);
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.player--0 {
    position: absolute;
    top: 450px;
    right: 300px;
}

.player--1 {
    position: absolute;
    top: 450px;
    right: 700px;
}

.player--2 {
    position: absolute;
    top: 300px;
    left: 25px;
}

.player--3 {
    position: absolute;
    top: 150px;
    left: 25px;
}

.player--4 {
    position: absolute;
    top: 0px;
    left: 300px;
}

.player--5 {
    position: absolute;
    top: 0px;
    left: 700px;
}

.player--6 {
    position: absolute;
    top: 150px;
    right: 25px;
}

.player--7 {
    position: absolute;
    top: 300px;
    right: 25px;
}

.player__roundBet {
    background-color: Gold;
    color: Cornsilk;
    box-shadow: 1px 1px rgba(0,0,0, .2);
    margin-left: auto;
    margin-right: auto;
    padding: 10px 12px;
    border-radius: 20px;
    white-space: nowrap;
    position: absolute;
}

.player--0 .player__roundBet {
    top: -70px;
    left: 0px;
}

.player--1 .player__roundBet {
    top: -70px;
    right: 0px;
}

.player--2 .player__roundBet { 
    top: 0;
    left: 290px;
}

.player--3 .player__roundBet {
    bottom: 0;
    left: 290px;
}

.player--4 .player__roundBet {
    right: 0;
    bottom: -60px;
}

.player--5 .player__roundBet {
    left: 0;
    bottom: -60px;
}

.player--6 .player__roundBet {
    bottom: 0;
    right: 290px;
}

.player--7 .player__roundBet {
    top: 0;
    right: 290px;
}

.player__dealerChip {
    width: 40px;
    position: absolute;
}

.player--0 .player__dealerChip {
    top: -50px;
    left: -40px;
}

.player--1 .player__dealerChip {
    top: -50px;
    left: 40px;
}

.player--2 .player__dealerChip {
    top: -40px;
    right: -40px;;
}

.player--3 .player__dealerChip {
    top: -10px;
    right: -60px;
}

.player--4 .player__dealerChip {
    bottom: -50px;
    left: 80px;
}

.player--5 .player__dealerChip {
    bottom: -50px;
    left: -40px;
}

.player--6 .player__dealerChip {
    top: -20px;
    left: -60px;
}

.player--7 .player__dealerChip {
    top: -40px;
    left: -60px;
}

.player--turn {
    background: white;
    box-shadow: 0px 0px 30px white;
}

.player__chips {
    font-size: 10px;
    color: white;
}

.player__username {
    color: grey;
    font-size: 11px;
}

.player--turn .player__chips {
    color: black;
}

.player__roundWinnings {
    position: absolute;
    right: 40px;
    bottom: 0px;
    font-size: 10px;
    color: yellow;
    background-color: #32CD32;
    border-radius: 5px;
    padding: 1px 2px;
}


