.raiseMenu {
    display: flex;
    align-items: center;
}

.raiseMenu__slider {
    color: white;
    display: flex;
    align-items: center;
    display: inline-block;
    width: 375px;
    /* margin-right: 6px; */
}

.rc-slider{
    display: inline-block;
    width: 75% !important;
    margin: 0 12px;
}

.raiseMenu__moveButton {
    /* display: inline-block; */
    margin: 0px 5px;
}