.raiseMenu {
    display: flex;
    align-items: center;
}

.raiseMenu__slider {
    color: white;
    display: flex;
    align-items: center;
    display: inline-block;
    width: 375px;
    /* margin-right: 6px; */
}

.rc-slider{
    display: inline-block;
    width: 75% !important;
    margin: 0 12px;
}

.raiseMenu__moveButton {
    /* display: inline-block; */
    margin: 0px 5px;
}

.raiseMenu__button {
    width: 140px;
    height: 100px;
    border-radius: 6px;
    border: 2px solid #e8e8e8;
    display: flex;
    align-items: center;
    color: #e8e8e8;
}

.raiseMenu__button div {
    margin: auto;
}

.raiseMenu__button:hover {
    background-color: #e8e8e8;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
    color: black;
}

.raiseMenu__button:active {
    background-color: #d8d8d8;
}

.--green {
    color: #92cc41;
    border: 2px solid #92cc41;
}

.--green:hover {
    background-color: #92cc41;
}

.--green:active {
    background-color: #7eb138;
}