* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'atari_classicchunky' !important;
    text-align: center;
    height: 100%;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
}

input {
    font-family: inherit;
}

input[type="text"]{
    font-family: inherit;
}

input[type="password"]{
    font-family: inherit;
}

#root {
    height: 100%;
}

.hide {
    display: none !important;
}

#new_message_form {
    height: 20%;
    width: 528px;
    margin: auto;
    position: absolute;
    bottom: 24px;
    left: 32px;
}

.user_message {
    word-break: break-all;
}

#textarea_field {
    margin-bottom: 10px;
}

.cards {
    width: 50px;
    image-rendering: pixelated;
}

.pixelated {
    image-rendering: pixelated;
}

.coin {
    position: relative;
    top: 2px !important;
    right: -2px !important;
}

#octocat {
    position: absolute;
    left: -120px;
}

.user_form {
    width: 500px;
    margin: auto;
    text-align: left;
}

.user_form input{
    width: 400px;
}